beautifulsoup4==4.15.0
boto3==1.43.81
botocore==1.43.81
certifi==2026.7.22
charset-normalizer==3.5.1
click==8.5.0
click-option-group==0.5.9
cloudsplaining==0.9.1
idna==3.19
iniconfig==2.3.0
Jinja2==3.1.6
jmespath==1.1.0
json-cfg==0.4.2
kwonly-args==1.0.10
MarkupSafe==3.0.3
orjson==3.12.0
packaging==26.3
parliament==1.6.4
pluggy==1.6.0
policy_sentry==0.15.2
Pygments==2.21.0
pytest==9.1.1
python-dateutil==2.9.0.post0
PyYAML==6.0.3
requests==2.34.2
s3transfer==0.19.2
schema==0.7.8
setuptools==80.10.2
six==1.17.0
soupsieve==2.9.2
typing_extensions==4.16.0
urllib3==2.7.0
